[user]
	name = Konstantin Borovik
	email = github@lab5.ca
	signingKey = E4AFCA7FBB19FC029D519A524AEBB5178D5E96C1
[diff]
	tool = vimdiff
	algorithm = histogram
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[remote "origin"]
	prune = true
[credential]
	helper = store --file ~/.git-credentials
[submodule]
	recurse = true
[rerere]
	enabled = true
	autoUpdate = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[advice]
	addIgnoredFile = false
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[fetch]
	all = true
	prune = true
	pruneTags = true
[rebase]
	autoSquash = true
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[pull]
	rebase = true
